USE [KitapBlog]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 17.01.2018 22:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 17.01.2018 22:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 17.01.2018 22:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 17.01.2018 22:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 17.01.2018 22:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 17.01.2018 22:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Begeniler]    Script Date: 17.01.2018 22:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Begeniler](
	[BegeniID] [int] IDENTITY(1,1) NOT NULL,
	[Kullanicilar_KullanıcıID] [int] NULL,
	[Notlar_NotID] [int] NULL,
 CONSTRAINT [PK_dbo.Begeniler] PRIMARY KEY CLUSTERED 
(
	[BegeniID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 17.01.2018 22:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](60) NOT NULL,
	[Tanitim] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Kategori] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 17.01.2018 22:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullanıcıID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](25) NULL,
	[Soyad] [nvarchar](25) NULL,
	[KullaniciAdi] [nvarchar](25) NOT NULL,
	[Email] [nvarchar](70) NOT NULL,
	[Sifre] [nvarchar](25) NOT NULL,
	[AdminMi] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[KullanıcıID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notlar]    Script Date: 17.01.2018 22:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notlar](
	[NotID] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](60) NOT NULL,
	[Icerik] [nvarchar](2000) NOT NULL,
	[BegeniSayisi] [int] NULL,
	[Kategoriler_KategoriID] [int] NULL,
	[Kullanicilar_KullanıcıID] [int] NULL,
	[Tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Notlar] PRIMARY KEY CLUSTERED 
(
	[NotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Yorumlar]    Script Date: 17.01.2018 22:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorumlar](
	[YorumID] [int] IDENTITY(1,1) NOT NULL,
	[Icerik] [nvarchar](300) NOT NULL,
	[Kullanicilar_KullanıcıID] [int] NULL,
	[Notlar_NotID] [int] NULL,
 CONSTRAINT [PK_dbo.Yorumlar] PRIMARY KEY CLUSTERED 
(
	[YorumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Begeniler] ON 

INSERT [dbo].[Begeniler] ([BegeniID], [Kullanicilar_KullanıcıID], [Notlar_NotID]) VALUES (2, NULL, NULL)
INSERT [dbo].[Begeniler] ([BegeniID], [Kullanicilar_KullanıcıID], [Notlar_NotID]) VALUES (3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Begeniler] OFF
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([KategoriID], [Baslik], [Tanitim]) VALUES (1, N'Edebiyat', N'Edebi kitaplar içermektedir')
INSERT [dbo].[Kategori] ([KategoriID], [Baslik], [Tanitim]) VALUES (2, N'Felsefe', N'Felsefi kitaplar içermektedir')
INSERT [dbo].[Kategori] ([KategoriID], [Baslik], [Tanitim]) VALUES (3, N'Araştırma-Tarih', N'Araştırma-Tarih kitapları içermektedir')
SET IDENTITY_INSERT [dbo].[Kategori] OFF
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullanıcıID], [Ad], [Soyad], [KullaniciAdi], [Email], [Sifre], [AdminMi]) VALUES (1, NULL, NULL, N'ttaskale', N'ttaskale@hotmail.com', N'123456', 1)
INSERT [dbo].[Kullanicilar] ([KullanıcıID], [Ad], [Soyad], [KullaniciAdi], [Email], [Sifre], [AdminMi]) VALUES (3, N'Mithat', N'Sarıkaya', N'nuuklu', N'nuuklu@hotmail.com', N'123456', 0)
INSERT [dbo].[Kullanicilar] ([KullanıcıID], [Ad], [Soyad], [KullaniciAdi], [Email], [Sifre], [AdminMi]) VALUES (9, N'Eren', N'Taşkale', N'eromen1907', N'taskaleeren@gmail.com', N'eromen1907', 0)
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
SET IDENTITY_INSERT [dbo].[Notlar] ON 

INSERT [dbo].[Notlar] ([NotID], [Baslik], [Icerik], [BegeniSayisi], [Kategoriler_KategoriID], [Kullanicilar_KullanıcıID], [Tarih]) VALUES (1, N'Bir Askerin Anıları', N'Kitap,Alman General Heinz Guderian''ın 2.Dünya Savaşındaki anılarını anlatmaktadır.Yazar savaştan önce Panzer Doktrini adıyla bir kitap yayınlamıştır.Kitap Zırlı birliklerin kullanımından ve öneminden bahsetmektedir.', 22, 11, 1, CAST(0x0000000000000000 AS DateTime))
INSERT [dbo].[Notlar] ([NotID], [Baslik], [Icerik], [BegeniSayisi], [Kategoriler_KategoriID], [Kullanicilar_KullanıcıID], [Tarih]) VALUES (7, N'Beyaz Zambaklar Ülkesinde', N'Finlandiya''nın kuruluş aşamasından sonra refah seviyesine çıkmasına kadarki süreç anlatılmaktadır. ', 2, NULL, NULL, CAST(0x0000A85A00000000 AS DateTime))
INSERT [dbo].[Notlar] ([NotID], [Baslik], [Icerik], [BegeniSayisi], [Kategoriler_KategoriID], [Kullanicilar_KullanıcıID], [Tarih]) VALUES (10, N'Nutuk', N'Mustafa Kemal Atatürk tarafından yazılmıştır.', 0, NULL, 1, CAST(0x0000A85A00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Notlar] OFF
ALTER TABLE [dbo].[Notlar] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Tarih]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Begeniler]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Begeniler_dbo.Kullanicilar_Kullanicilar_KullanıcıID] FOREIGN KEY([Kullanicilar_KullanıcıID])
REFERENCES [dbo].[Kullanicilar] ([KullanıcıID])
GO
ALTER TABLE [dbo].[Begeniler] CHECK CONSTRAINT [FK_dbo.Begeniler_dbo.Kullanicilar_Kullanicilar_KullanıcıID]
GO
ALTER TABLE [dbo].[Begeniler]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Begeniler_dbo.Notlar_Notlar_NotID] FOREIGN KEY([Notlar_NotID])
REFERENCES [dbo].[Notlar] ([NotID])
GO
ALTER TABLE [dbo].[Begeniler] CHECK CONSTRAINT [FK_dbo.Begeniler_dbo.Notlar_Notlar_NotID]
GO
ALTER TABLE [dbo].[Notlar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notlar_dbo.Kategori_Kategoriler_KategoriID] FOREIGN KEY([Kategoriler_KategoriID])
REFERENCES [dbo].[Kategori] ([KategoriID])
GO
ALTER TABLE [dbo].[Notlar] CHECK CONSTRAINT [FK_dbo.Notlar_dbo.Kategori_Kategoriler_KategoriID]
GO
ALTER TABLE [dbo].[Notlar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notlar_dbo.Kullanicilar_Kullanicilar_KullanıcıID] FOREIGN KEY([Kullanicilar_KullanıcıID])
REFERENCES [dbo].[Kullanicilar] ([KullanıcıID])
GO
ALTER TABLE [dbo].[Notlar] CHECK CONSTRAINT [FK_dbo.Notlar_dbo.Kullanicilar_Kullanicilar_KullanıcıID]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Yorumlar_dbo.Kullanicilar_Kullanicilar_KullanıcıID] FOREIGN KEY([Kullanicilar_KullanıcıID])
REFERENCES [dbo].[Kullanicilar] ([KullanıcıID])
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_dbo.Yorumlar_dbo.Kullanicilar_Kullanicilar_KullanıcıID]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Yorumlar_dbo.Notlar_Notlar_NotID] FOREIGN KEY([Notlar_NotID])
REFERENCES [dbo].[Notlar] ([NotID])
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_dbo.Yorumlar_dbo.Notlar_Notlar_NotID]
GO
