 @using Entity.KullaniciYonetim
@model GirisView
@{
    ViewBag.Title = "Giris Sayfası";
}
<style>
    fieldset {
        padding-top: 30px;
    }
</style>


<link href="~/Content/girisi-kayit.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                   
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form">
                            @Html.ValidationSummary(false)
                            <fieldset>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.KullaniciAdi, new { @class = "form-control", placeholder = "Kullanıcı adınız:" })

                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Sifre, new { @class = "form-control", placeholder = "Şifreniz:",type="password" })
                                </div>

                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Giris">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




<script>
    $(function(){
        $("footer").hide();
    });     

</script>