
@{
    ViewBag.Title = "Hakkımızda";
}

<h2>Hakkımızda</h2>

<h2>KitapBlog</h2>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
       

            <div class="row">
             <h2>
               Lorem Ipsum
             </h2>
                <img src="http://placehold.it/900x300" class="center-block img-responsive img-rounded img-thumbnail"  alt="Alternate Text" /> 
                <hr />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam condimentum faucibus ex eu auctor. Maecenas lacus ligula, tempus elementum leo eu, eleifend mollis orci. Praesent vulputate lacus ligula, sed iaculis urna tincidunt non. Ut iaculis odio eu ullamcorper convallis. Proin at odio convallis dui fringilla lacinia. Praesent posuere lacinia elementum. Ut ut ante ipsum. Fusce vel magna magna. Pellentesque maximus lorem sem, eu consectetur metus elementum vel. Sed ac iaculis quam. Vivamus quis odio pellentesque orci ultricies egestas non quis lorem. Proin sagittis, enim vitae fermentum congue, diam sem tincidunt libero, luctus ullamcorper nisi neque non nulla. Phasellus quam risus, blandit eget erat id, congue pretium enim. Aenean lacinia tortor massa, a congue nisi lobortis in. Cras bibendum nibh diam, vel ullamcorper mauris interdum ac.</p>
                <p>Sed dignissim ipsum blandit, feugiat orci in, molestie arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis non iaculis libero. Curabitur lobortis, arcu in varius congue, lorem diam tristique mauris, vitae tempus enim mauris id lectus. In id mi vel ligula rutrum faucibus. Mauris dictum laoreet lectus, eget feugiat ipsum hendrerit eu. Duis iaculis vitae massa at maximus. In eget sapien dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus iaculis ullamcorper dignissim.</p>
                <p>Praesent lectus dolor, viverra sit amet lacinia id, interdum in eros. Nunc libero sapien, molestie nec finibus in, interdum a neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper ante eget diam pharetra lobortis. Quisque tincidunt finibus venenatis. Duis at blandit est. Morbi viverra dui id nulla porta, eu sollicitudin est commodo. Nam nec enim eget lacus feugiat pretium. Cras id tempor sem, nec semper velit. Vestibulum quis magna congue, tincidunt nisi in, maximus orci. Suspendisse egestas risus dui. Morbi vitae scelerisque dui, sit amet bibendum massa. Aliquam mollis massa orci, quis varius tortor porta et. Maecenas vel mollis leo.</p>

            </div>
            
            <hr>
           
        </div>
        <!-- Blog Sidebar Widgets Column --><!-- Yan taraftaki paneller bolumu -->
        
    </div>
    <!-- /.row -->
    <hr>
  

</div>
