@using Entity
@model Not

<div class="row">
    <div class="col-md-12">
        <h3>
            @Model.Baslik
        </h3>
    </div>    
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12">
        <p class="text-justify">
            @Model.Icerik
        </p>
    </div>
</div>



